/* 以下grid */
.container {
    max-width: 1200px;
    margin: auto;
    padding-inline: 15px;
    padding-top: 106px;
    flex: 1;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-inline: -15px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    }

html{
    scroll-behavior: smooth;
}

div[id^="area"] {
    scroll-margin-top: 120px;
}

#area3 {
    scroll-margin-top: 120px; 
}


body {
    font-family: "Noto Sans TC", sans-serif;
    background: #FFFBF7;
    line-height: 1.5;
    background-image: url('./picture/texture_cloth.png');
    background-repeat: repeat;
    background-size: cover; 
    background-position: center center;
    mix-blend-mode: multiply;
    opacity: 99%;
    height: 100%;
    margin: 0;
    }


/* 以下 header + menu */
#menu-toggle{
    display: none;
}

.menu-icon{
    cursor: pointer;
    padding: 20px;
    display: inline-block;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
}

.menu-icon img{
    width: 31.97px;
}

.menu-icon:hover{
    opacity: 0.8;
    } 

header nav{
    position: fixed;
    list-style: none;
    background-color: #54546C;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    color: #FFFBF7;
    padding: 40px 20px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 10;
    display: flex;
    
    }

header nav ul {
    list-style: none;
    margin-top: 100px;
    justify-content: center;
}

header nav ul li {
    margin-bottom: 20px;
}

header nav ul li a {
    display: block;
    color: #FFFBF7;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    }

header nav ul li a:hover {
    color: #E0E26D;
    }

.close-btn{
    position: fixed;
    background: none;
    border: none;
    color: #FFFBF7;
    cursor: pointer;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
}

.close-btn img{
    width: 24px;
    height: 100%;
}

.close-btn:hover{
    opacity: 0.8;
    } 

#menu-toggle:checked ~ .overlay { 
    display: block;
}
#menu-toggle:checked ~ nav { 
    transform: translateX(0);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./picture/header.png);
    background-size: 100vw 106px;
    background-repeat: no-repeat;
    padding: 0 110px;
    z-index: 10;
    object-fit: cover;
    }

.main-header{
    position: absolute;
    right: 140px;
    display: flex;
    align-items: center;
    gap: 25px;
    }

.logo {
    width: 168px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }

.logo:hover{
    opacity: 0.8;
    } 

.logo img {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
    }


.header-button {
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
    }

.header-button img{
    width: 31.97px;
    height: 100%;
}

.header-button:hover {
    opacity: 0.8;
    } 

/* 以下麵包屑 */
.breadcrumb {
    position: relative;
    top: 130px;
    left: -165px;
}

.breadcrumb ul {
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
}

.breadcrumb li + li:before{
    content: "/";
    padding: 0 8px;
    color: #54546C;
}

.breadcrumb a {
    color: #54546C;
    text-decoration: none;
}

.breadcrumb .current {
    font-weight: bolder;
    color: #DC7E9A;
}

/* 以下 backtotop */
.backtotop{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
    z-index: 10;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
}

.backtotop img{
    width: 60px;
    height: 100%;
}

.backtotop:hover {
    opacity: 0.8;
    } 

/* 以下banner */
.banner-group{
    position: relative;
}

.banner{
    box-sizing: border-box;
    left: -16%;
    top: 129px;
    border-radius: 10px;
    width: 70%;
    position: relative;
    box-shadow:  10px 10px 0px 0px #DC7E9A;
}

/* 以下slider */
.slider-wrapper{
    position: relative;
    right: -36%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.slider-container {
    width: 521px;
    /* height: 344px; */
    /* margin: auto;
    position: absolute; */
    overflow: hidden;
    /* left: 1167px; */
    }

.slider-images {
    display: flex;
    /* width: 100%;
    height: 100%; */
    transition: transform 0.5s ease;
    }

.slider-images img {
    width: 521px;
    /* height: 344px; */
    object-fit: cover;
    flex-shrink: 0;
    }

.slider-button {
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
    }

.slider-button:hover{
    opacity: 0.8;
}

.slider-button img{
    width: 45px;
    height: auto;
    }

/* 以下banner title */

.banner-title{
    position: relative;
}

.title1{
    box-sizing: border-box;
    position: absolute;
    right: -9%;
    left: auto;
    top: -350px;
    font-size: 48px;
    line-height: 96px;
    letter-spacing: 5px;
    text-align: right;
    font-weight: 900;
    color: #DC7E9A;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title2{
    box-sizing: border-box;
    position: absolute;
    left: -16%;
    top: 136%;
    font-size: 32px;
    line-height: 69px;
    letter-spacing: 3px;
    text-align: right;
    font-weight: bolder;
    color: #54546C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* 以下area1 */
.area1{
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.area1 img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 300px;
    width: 1920px;
    object-fit: cover; 
}

.index-video{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.area1 video{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 485px;
    border-radius: 0px 10px 10px 10px;
    height: 494px;
    box-shadow:  0px 0px 20px 10px rgba(0, 0, 0, 0.25);
}

.titletag1 img{
    position: absolute;
    left: -323px;
    top: 415px;
    width: 292px;
    object-fit: contain;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
}

/* 以下area2 */
.area2{
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.a2bg img{
    position: absolute;
    left: -32%;
    top: 1390px;
    width: 1560px;
    object-fit: contain;
}

.title3{
    box-sizing: border-box;
    position: absolute;
    left: -16%;
    top: 1497px;
    font-size: 36px;
    line-height: 69px;
    letter-spacing: 5px;
    text-align: left;
    font-weight: bolder;
    color: #FFFBF7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .more-button{
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 198px;
    top: 3002px;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
} */
.more-button-img{
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: -16%;
    top: 1704px;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
    width: 393px;
    height: 76px;
    background-image: url(./icon/more\ button.png);
    background-size: cover;
    transition: background-image 0.3s ease;
}

.more-button-img:hover {
    opacity: 0.8;
    /* background-image: url(./icon/more\ button\ 02.png); */
    }

/* 以下yarn1 */
.yarn-group{
    position: relative;
    right: 32%;
    top: -1200px;
}
.yarn1 img{
    position: absolute;
    left: 1066px;
    top: 2458px;
    width: 393px;
    height: 456.67px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.yarn1tag img{
    position: absolute;
    left: 1196px;
    top: 2893px;
    width: 134px;
    height: 82px;
    object-fit: cover;
    cursor: pointer;
    display: block;
    z-index: 1;
}
.yarn1tag img:hover{
    opacity: 0.8;
}
.yarn1tag:hover ~ .yarn1p{
    transform: translateY(-20px);
}

/* 以下yarn2 */
.yarn2 img{
    position: absolute;
    left: 1469px;
    top: 2694px;
    width: 381.23px;
    height: 443px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.yarn2tag img{
    position: absolute;
    left: 1593px;
    top: 3058px;
    width: 134px;
    height: 82px;
    object-fit: cover;
    cursor: pointer;
    display: block;
    z-index: 1;
}
.yarn2tag img:hover{
    opacity: 0.8;
}

.yarn2tag:hover ~ .yarn2p{
    transform: translateY(-20px);
}

/* 以下yarn3 */
.yarn3 img{
    position: absolute;
    left: 1216px;
    top: 3026px;
    width: 344.45px;
    height: 400.25px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.yarn3tag img{
    position: absolute;
    left: 1325px;
    top: 3434px;
    width: 134px;
    height: 82px;
    object-fit: cover;
    cursor: pointer;
    display: block;
    z-index: 1;
}
.yarn3tag img:hover{
    opacity: 0.8;
}
.yarn3tag:hover ~ .yarn3p{
    transform: translateY(-20px);
}

/* 以下area3 */
.area3{
    box-sizing: border-box;
    display: flex; 
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 2600px;
    margin: auto;
}

.a3bg img{
    position: absolute;
    top: 0;
    width: 1440px;
    left: 50%;
    transform: translate(-50%, 0);
}

.news-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: 160px;
    width: 1200px;
} 

.news-item{
    display: flex;
    align-items: flex-start;
    background: none;
    gap: 112px;
    border-bottom: 1px solid #FFFBF7;
    padding-top: 66px;
    padding-bottom: 66px;
    cursor: pointer;
}

.news-item:hover{
    opacity: 0.8;
}

.news-item img{
    width: 292px;
    height: 134.9px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.news-text h3{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #FFFBF7;
}

.news-text p{
    margin-top: 42px;
    font-size: 20px;
    letter-spacing: 1px;
    color: #FFFBF7;
}

.arrow-button{
    margin-left: auto;
    margin-top: auto;
    font-size: 24px;
    font-weight: bolder;
    color: #FFFBF7;
}

.news-list .more-button-img{
    top: 880px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* 以下footer */
/* footer {
    position: absolute;
    top: 5146px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 325px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(./picture/footer.png);
    background-size: 1920px 325px;
    background-repeat: no-repeat;
    opacity: 1;
    /* pointer-events: none;
    transition: opacity 0.3s ease; */
*/

/* footer.visible {
    opacity: 1;
    pointer-events: auto;
} */

/* .footer-container{
    display: flex;
    align-items: center;
    }

.footer-info {
    position: absolute;
    left: 130px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-item img {
    width: 25px;
}

.footer-item span {
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #FFFBF7
}

.logo {
    width: 168px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    }

.logo:hover{
    opacity: 0.8;
    } 

.logo img {
    width: 100%;
    margin-top: 13px;
    margin-bottom: 13px;
    }

.footer-social {
    position: absolute;
    right: 130px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.footer-icon-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.footer-icons {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-icons:hover{
    opacity: 0.8;
}

.footer-icons img {
    width: 31.97px;
    height: 100%;
}

.footer-social p {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #FFFBF7;
    text-align: center;
    width: 100%;
} */

/* 以下tutorial 1*/
/* 以下教學類別 */
.extra-group{
    position: absolute;
}

.tcbg img{
    position: relative;
    top: 170px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1493px;
}

.tc-button-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 84px;
    width: 1200px;
    margin: 0 auto;
    position: absolute;
    top: 526px;
    left: 380px;
}

.tc-button-grid div{
    width: 292px;
    height: 221px;
    background-color: #FFFBF7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-image 0.3s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tc-button-grid div:hover{
    background-color: #DC7E9A;
}

.tcbtn-img1{
    background-image: url(./icon/btn\ yarn\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tcbtn-img1:hover{
    background-image:url(./icon/btn\ yarn\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tcbtn-img2{
    background-image: url(./icon/btn\ clay\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tcbtn-img2:hover{
    background-image:url(./icon/btn\ clay\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tcbtn-img3{
    background-image: url(./icon/btn\ sewing\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tcbtn-img3:hover{
    background-image:url(./icon/btn\ sewing\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tcbtn-img4{
    background-image: url(./icon/btn\ beads\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tcbtn-img4:hover{
    background-image:url(./icon/btn\ beads\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tcbtn-img5{
    background-image: url(./icon/btn\ metalworking\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tcbtn-img5:hover{
    background-image:url(./icon/btn\ metalworking\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.tcbtn-img6{
    background-image: url(./icon/btn\ glue\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.tcbtn-img6:hover{
    background-image:url(./icon/btn\ glue\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* 以下tutorial 2*/
/* 課程卡片 */
.t-cardbg img{
    position: relative;
    top: 463px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 1493px;
    z-index: -1;
}

.t-card-list {
    display: flex;
    flex-direction: row;
    gap: 75px;
    justify-content: center;
    left: 50%;
    position: relative;
    top: -128px;
    transform: translate(-50%, 0);
    width: 1403px;
}

.t-card1 {
    width: 394px;
    height: 522px;
    border-radius: 10px;
    /* overflow: hidden; */
    background-color: #8283A7;
    display: flex;
    flex-direction: column;
    position: relative;
}

.t-card1 img {
    width: 100%;
    height: 304px;
    /* border-radius: 10px 10px 0px 0px; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    object-fit: cover; 
    cursor: pointer;
}

.t-card1 img:hover{
    opacity: 0.8;
}

.t-card-text1 {
    padding: 26px ;
    color: #FFFBF7;
}

.t-card-text1 h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: 1px solid #FFFBF7;
}

.t-card-text1 p {
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 2px;
}

.t-flag1{
    position: absolute;
    top: 30px;
    left: 0;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
}

.t-flag1 img{
    width: 78px;
    height: 30px;
}

.t-flag1 img:hover{
    opacity: 1;
}
.heart-img1{
    width: 30px;
    height: 30px;
    background-image: url(./icon/heart\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 330px;
    right: 26px;
    z-index: 1;
    cursor: pointer;
}
.heart-img1:hover{
    width: 30px;
    height: 30px;
    background-image:url(./icon/heart\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

/* 以下tutorial 3*/
.slider-wrapper2{
    position: absolute;
    left: 138px;
    top: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slider-container2 {
    width: 1502px;
    height: 683px;
    /* margin: auto;
    position: absolute; */
    overflow: hidden;
    /* left: 1167px; */
    }

.slider-images2 {
    display: flex;
    /* width: 100%;
    height: 100%; */
    transition: transform 0.5s ease;
    cursor: pointer;
    }

.slider-images2 img {
    width: 1502px;
    height: 683px;
    object-fit: cover;
    flex-shrink: 0;
    }

.slider-button2 {
    padding: 10px;
    background: none;
    border: none;
    cursor: pointer;
    filter: drop-shadow(4px 0 10px rgba(0, 0, 0, 0.3));
    }

.slider-button2:hover{
    opacity: 0.8;
}

.slider-button2 img{
    width: 45px;
    height: auto;
    }

.heart-img2{
    width: 30px;
    height: 30px;
    background-image: url(./icon/heart\ 01.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 475px;
    right: 130px;
    z-index: 1;
    cursor: pointer;
}
.heart-img2:hover{
    width: 30px;
    height: 30px;
    background-image:url(./icon/heart\ 02.png);
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

.t-video{
    position: relative;
}

.t-videobg{
    position: absolute;
}